<!-- <app-author></app-author>
<app-favorite-author></app-favorite-author> -->
<div class="container">
  <mat-toolbar style="margin-bottom:8px">
    <span>Assessment</span>
  </mat-toolbar>
  <div fxLayout="row wrap">
    <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="100">
      <mat-list role="list">
        <a routerLink="/author" routerLinkActive="active" style="text-decoration: none;">
          <mat-list-item role="listitem">Author</mat-list-item>
        </a>
        <a routerLink="/author-favorite" routerLinkActive="active" style="text-decoration: none;">
          <mat-list-item role=" listitem">Favorite Author</mat-list-item>
        </a>
      </mat-list>
    </div>
    <div fxFlex.gt-lg="75" fxFlex.gt-md="75" fxFlex.gt-xs="100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
